# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# go lib & other project
github.com
gobaselib
golang.org
cloud.google.com
google.golang.org
YBUpload
YBay
gopkg.in
YBPay
Test


beegoStudy/routers/commentsRouter*
beegoStudy/static/upload
lastupdate.tmp
