<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{.title}}</title>
    </head>

    <body>
        <h1>下面是controller传过来的数据</h1>
        <h3>{{.title}}</h3>
    </body>
</html>
