
<h3>测试表单提交数据</h3>

<p>下面测试表单的普通post提交</p>
<form action="/test/formpost" method="post">
    <p>Message : <input type="text" name="message" /></p>
    <p>Id : <input type="text" name="id" value="8" /></p>
    <p>Boolean : true:<input type="radio" name="boolean" value="true" /> false:<input type="radio" name="boolean" value="false" /></p>
    <p><input type="submit" value="Post" /></p>
</form>

<p></p>
<p>&nbsp;<br />&nbsp;</p>

<p>下面测试表单的普通post提交</p>
<form action="formpost" method="post">
    <p>名字：<input name="username" type="text" /></p>
    <p>年龄：<input name="age" type="text" /></p>
    <!--<p>邮箱：<input name="email" type="text" /></p>-->
    <p>邮箱：<input name="Email" type="text" /></p>
    <p><input type="submit" value="提交" /></p>
</form>

<p></p>
<p>&nbsp;<br />&nbsp;</p>

<p>下面测试表单的post提交，但是提交的数据是在body中，即application/json</p>
<form action="/test/form_body" method="post" enctype="application/json">
    <p>名字：<input name="username" type="text" /></p>
    <p>年龄：<input name="age" type="text" /></p>
    <!--<p>邮箱：<input name="email" type="text" /></p>-->
    <p>邮箱：<input name="Email" type="text" /></p>
    <p><input type="submit" value="提交" /></p>
</form>

<p></p>
<p>&nbsp;<br />&nbsp;</p>

<p>下面测试表单的文件上传</p>
<form action="/test/form_upload" method="post" enctype="multipart/form-data">
    <p>选择文件：<input name="upload_name" type="file" /></p>
    <p><input type="submit" value="提交" /></p>
</form>

<p></p>
<p>&nbsp;<br />&nbsp;</p>

<p>刷新数为：{{.num}}</p>